[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AssociationExplorer2"]
	path = AssociationExplorer2
	url = https://github.com/antoinesoetewey/associationexplorer2
[submodule "yll"]
	path = yll
	url = https://github.com/antoinesoetewey/yll
